# NEORV32 openOCD configuration file

# ----------------------------------------------
# Physical interface configuration
# -> Adjust this for your adapter
# ----------------------------------------------

# Default: FT2232H breakout board
# TCK:  D0
# TDI:  D1
# TDO:  D2
# TMS:  D3
# TRST: D4 (low-active, optional - pull input pin high if not used)

adapter driver ftdi
ftdi vid_pid 0x0403 0x6010
ftdi channel 1
## put pins 4 and 5 on HIGH at the begining, specify pins 1,2,4 and 5 as output pins:
ftdi layout_init 0x0088 0x008b
## we dont need a specific pin for reset
reset_config none

adapter speed 10000
transport select jtag

# ----------------------------------------------
# Target configuration
# ----------------------------------------------
set _CHIPNAME neorv32
jtag newtap $_CHIPNAME cpu -irlen 6

set _TARGETNAME $_CHIPNAME.cpu
target create $_TARGETNAME.0 riscv -chain-position $_TARGETNAME

## IDCODE reg in fabric
# riscv set_ir idcode 0x02
## native FPGA IDCODE reg 
riscv set_ir idcode 0x09
riscv set_ir dtmcs 0x22
riscv set_ir dmi 0x23

# access memory only via program buffer
riscv set_mem_access progbuf

# expose NEORV32-specific CSRs
riscv expose_csrs 2048=cfusel
riscv expose_csrs 2049=cfureg
riscv expose_csrs 4032=mxisa

# enable access error reports
gdb_report_data_abort enable
#gdb_report_register_access_error enable

# ----------------------------------------------
# Start session
# ----------------------------------------------
init
halt

echo "Target HALTED. Ready for remote connections."
