[submodule "saspit/thirdparty/sdspi"]
	path = saspit/thirdparty/sdspi
	url = https://github.com/ZipCPU/sdspi.git
[submodule "saspit/thirdparty/fatfs"]
	path = saspit/thirdparty/fatfs
	url = https://github.com/abbrev/fatfs.git
